/* An adaptation of Ian Stark's CSS file */

body,p,td,ul
 { font-family: sans-serif; color: black; background-color: white }

body { margin: auto }

h1,h2,h3,h4,h5,h6,p,dl,ol,ul,table,pre 
   { padding: 0 3%; margin-left: 0; margin-right: 0 }

li { margin-left: 2em }
li p { padding: 0 }

a { color: rgb(0,51,102) }
a:link { color: rgb(51,102,153) }
a:hover, a:focus, a:active { color: purple; text-decoration: underline }

h1 { font-size: 200%; background-color: rgb(213,234,255) }
h2 { background-color: rgb(213,234,255) }
h1 a, h2 a, h3 a, h4 a, h1 a:link, h2 a:link, h3 a:link, h4 a:link 
  { color: black }
